#NavBar{
	margin-left: -2.1em;
	margin-right: -1em;
	background-color: rgba(255,255, 255, .80);
}
.Left-Navigation{
	position: fixed;
	height: 100%;
	width: 15em;
	margin-left: 3em;
	background-color: rgba(0,0,0, .65);
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;
}

.Left-Navigation-2{
	position: fixed;
	height: 100%;
	width: 3em;
	background-color: rgba(255,100,100, .35);
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;
}
.Left-Navigation ul{
	width: 16em;
	list-style: none;
	margin-top: 5em;
	margin-left: 0em;
	padding: 0em;
}
.Left-Navigation ul li{
	color: lightgrey;
	margin-top: 1em;
	margin-bottom: .5em;
}

.Left-Navigation ul li a{
	color: gray;
	margin-top: 1em;
	margin-bottom: .5em;
	padding-right: 0em;
	transition: 0.3s ease-in-out;
}
.Left-Navigation ul li a:hover{
	text-decoration: none;
	color: white;
}
.Left-Navigation ul li a:active,
.Left-Navigation ul li a:focus{
	text-decoration: none;
	color: white;
}
.Left-Navigation ul li a span{
	margin-top: -1em;
	margin-bottom: -1em;
	margin-left: 1em;
	margin-top: -1em;
	padding-top: -1em;
	padding-bottom: 1em;
}
.Left-Navigation ul li ul{
	list-style: none;
	margin-top: 1em;
	margin-left: 1em;
	padding-left: 1.5em;
	padding-bottom: 1em;
}
.body-content{
	z-index: 10000;
	margin-left: 19em;
	position: inherit;
	width: 98%;
	height: 100%;
	background-color: rgba(255,255,255, .4);
	transition: margin-left .3s linear;
	-moz-transition: margin-left .3s linear;
	-webkit-transition: margin-left .3s linear;
}
/* Media Query to hide and show the left navigation when the screen size changes */
@media all and (max-width: 768px){
	.Left-Navigation{
		left: -8em;
	}
	.body-content{
		margin-left: 11em;
	}
	.Left-Navigation ul li a i{
		padding-left: 9.8em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.form-div{
	margin-top: 10em;
}

.input-label{
	background-color: rgba(0,255,255, .5);
	color: white;
	padding: 1.5em;
	transition: 0.3s;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.4);
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}
.input-label:hover{
	opacity: .85;
	cursor: pointer;
}

#filebx{
	display: none;
}

.fa{
	margin-right: 4px;
}
#submitbtn{
	margin-left: 0em;
	padding: 1.9em;
}

.UploadProgress {
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 1000;
	height: 6em;
	width: 20em;
	padding: 2em;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 0.4em;
	box-shadow: 0.2em 0.2em rgba(0,0,0,0.1);
}
.DimoutBackground {
	background-color: rgba(0,0,0, 0.3);

}
#dashboard{
	color: white;
	font-size: 20px;
	margin-top: 2em;
	margin-left: 1em;
}
#hr{
	margin-left: 0em;
	margin-right:1em;
	margin-bottom: 2em;
}
#ImageBoxCaret{
	margin-left: 1.55em;
	color: white;
}
#XSImageBoxCaret{
	color: white;
}
#AudioBoxCaret{
	margin-left: 1.87em;
	color: white;
}
#VideoBoxCaret{
	margin-left: 1.75em;
	color: white;
}
#SecurityDetailsCaret{
	margin-left: .9em;
	color: white;
}
#DeveloperCaret{
	margin-left: 1.65em;
	color: white;
}

#ImageUploader{
	visibility: hidden;
}

#Uploadbtn{
	margin-left: inherit;
	background-color: rgba(255,0,25,.5);
	border: 1px;
	padding-left: 1em;
	padding-right: 1em;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	opacity: 1;
	transition: 0.3s;
}
#Uploadbtn:hover{
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
}

#UploadedImage:hover{
	cursor: pointer;
	transition: 0.3s ease-in-out;
	width: 265px;
	height: 185px;
	image-resolution: from-image;
	image-rendering: optimize-contrast;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,.6);
}

#ImageActivity:hover{
	opacity: .85;
}
#AudioActivity:hover{
	opacity: .85;
}
#VideoActivity:hover{
	opacity: .85;
}
#HomeLabel{
	background-color: white;
	color: black;
}
#HomeBadge{
	background-color: palevioletred;
	color: white;
}

#AccordionHeader{
	background-color: rgba(255,0,100,0.5);
	color: white;
}
#AccordionBody{
	background-color: rgba(0,0,0,0.3);
	color: white;
	font-family: monospace;
	font-size: 10px;
}

