*{
	margin: 0;
	padding: 0;
}
.navbar-inverse{
	background-color: rgba(0,0,0,.5);
	border: 0px;
}
#image{
	min-width: 100%;
	min-height: 100%;
}

#Savethechildren{
	margin-left: 5.8em;
	background-color: rgba(0,0,0,.1);
}

.image-decoration{
	background-color: rgba(0,0,0,.1);
}

.btns{
	opacity: .6;
}

.background{
	position: fixed;
	z-index: -1000;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.content{
	text-align: center;
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.6);
}
.content h2{
	font-size: 30px;
	font-weight: 300;
	color: white;
	padding-top: 15%;
	margin-bottom: 10px;
}
.content p{
	text-align: center;
	font-size: 20px;
	color: gray;
	opacity: .6;
}
#abdunies{
	font-size: 10px;
	margin-top: 2em;
	/*opacity: .85;*/
}
#UploadBage{
	font-size: 10px;
}
#UploadBage:hover{
	cursor: pointer;
}
#SmallUploadBage{
	font-size: 10px;
}
#SmallUploadBage:hover{
	cursor: pointer;
}
#yonas{
	font-size: 10px;
	margin-top: 2em;
	/*opacity: .85;*/
}

#yonas:hover{
	cursor: pointer;
}

#abdunies:hover{
	cursor: pointer;
}

#abduniesAlert{
	margin-left: 30em;
	margin-right: 30em;
	background-color: rgba(255,255,255,0.1);
	/*box-shadow: 0 2px 2px rgba(255, 255, 255, 0.1);*/
}

#UploadAlert{
	width: 500px;
	padding: 2em;
	background-color: rgba(0,255,255,0.1);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.6);
}
#SmallUploadAlert{
	padding: 2em;
	background-color: rgba(0,255,255,0.1);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#CloseAbduniesAlert:hover{
	color: white;
}
nav.navbar-default{
	background: white;
	opacity: .8;
}
body{
	background: lightgray;
}
#margin{
}
#hr{
	color: black;
}
#Backjumbotron{
	position: fixed;
	width: 100%;
	min-height: 100%;
	z-index: -1000;
	background-color: rgba(0,0,0,0.85);
	margin-left: 0em;
}

#Frontjumbotron{
	background: rgba(255,255,255,0.2);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.6);
	width: 900px;
}
#SmallFrontjumbotron{
	background: rgba(255,255,255,0.2);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.6);
}
/*
#form{
	border: 4px solid gray;
	-webkit-border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	border-radius: 13px 13px 13px 13px;
	padding: 20px 50px 20px 40px;
}*/


.image {
	width: 160px;
	text-align: center;
	font-family: "Allerta", sans-serif;
	font-size: 29px;
	font-weight: 400;
	color: #fff;
	letter-spacing: -1px;
	float: left;
	margin: 0;
	padding-top: 20px;
}
.image i {
	width: 43px;
	height: 41px;
	background: url(images/savethechildren-2-1.png) 0 0 no-repeat;
	display: block;
	margin: 0 auto 4px;
}

#a{
	color: white;
}
#a:hover{
	color: lightgray;
}

.modal-content{
}

.boxed {
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	position: relative;
}
.boxed-transparent {
	background-color: #a9728e;
	background-color: rgba(255,255,255,0.15);
}

.input-label{
	background: transparent;
	padding-top: 2em;
	padding-bottom: .3em;
	transition: 0.3s ease-in-out;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.form-signin {
	max-width: 330px;
	padding-top: 4em;
	margin: 0 auto;
}

.form-developerinfo {
	max-width: 330px;
	padding-top: 17em;
	margin: 0 auto;
}

.form-signup{
	padding-top: 0em;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
}
.form-signup .form-control:focus {
	z-index: 100;
}
.form-signin .form-control:focus {
	z-index: 100;
}

#timebadge {
	margin-top: 0em;
}
#UploadModalWin{
	z-index: 10000000;
}

#UploadResponseLabels{
	width: 500px;
}


